* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background-image: url(../public/images/background2.jpg);
}

.header {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* background-color: #D5CABD; */
  background-image: url(../public/images/header-background.jpg);
  color: white;
}

.header--logo {
  width: 35px;
  height: 35px;
}

.header--title {
  font-weight: 500;
  font-size: 20px;
}

.card--container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 85%;
  margin: auto;
  margin-top: 50px;
}

.card--image {
  width: 125px;
  height: 168px;
  border-radius: 10px;
}

.card--section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card--content {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.travel--location {
  display: flex;
  align-items: center;
  gap: 5px;
}

.location--logo {
  width: 12px;
  height: 14px;
  transform: translateY(-2px);
}

.travel--country {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.17em;
  color: #2b283a;
}

.travel--map {
  font-weight: 400;
  font-size: 12px;
  line-height: 1px;
  text-decoration-line: underline;
  color: #918e9b;
}

.travel--title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #2b283a;
}

.travel--duration {
  font-weight: 700;
  font-size: 11px;
  line-height: 12px;
  color: #2b283a;
  margin-top: 10px;
}

.travel--desc {
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  color: #2b283a;
}
